{% extends 'lectures/base.html' %}
{% block title %}Vote{% endblock title %}


{% block content %}

<h4>Vote For Lectures</h4>



<table class="table">
    <tr class="table-primary">

        <td class="table-primary">Title</td>
        <td class="table-primary">Vote</td>

    </tr>

    <form action="{%url 'polls:vote'%}" method="post">
        {% csrf_token %} 

            {%for lecture in lectures %}
                <tr class="table-light">

                    <td class="table-light">{{lecture.name}}</td>
                    <td class="table-light"><input type="radio" name="choice" id="{{lecture.name}}" value="{{ lecture.id }}"> Check to Vote</td>

                    </tr>

            {% endfor %}
        <input type="submit" value="vote">
    </form>

</table>


{% if error_message %}<p><strong>{{error_message }}</strong></p> {% endif %}
{% endblock content %}
