{% extends 'lectures/base.html' %}
{% block title %}Vote{% endblock title %}


{% block content %}

<h4>Vote For Lectures</h4>



<table class="table">
    <tr class="table-primary">

        <td class="table-primary">Title</td>
        <td class="table-primary">Vote</td>

    </tr>

            {%for lecture in lectures %}
                <tr class="table-light">

                    <td class="table-light">{{lecture.name}}</td>
                    {%if hasvoted %}
                        <td class="table-light"><a class='btn btn-primary btn-sm' href="{%url 'polls:updatevote' lecture %}">Remove Vote</a></td>
                    {%else%}
                        <td class="table-light"><a class='btn btn-primary btn-sm' href="{%url 'polls:updatevote' lecture %}">Vote</a></td>

                    {%endif%}

                    </tr>

            {% endfor %}
    

</table>
<a class='btn btn-outline-primary' href="{%url 'polls:detail'%}">Vote Details</a>

{% if error_message %}<p><strong>{{error_message }}</strong></p> {% endif %}
{% endblock content %}
