{% extends 'lectures/base.html' %}
{% block title %}lessons{% endblock title %}

{% block content %}

<p><b>{{lecture}} lectures</b></p>

<table class="table">
    <tr class="table-primary">

        <td class="table-primary">Title</td>
        <td class="table-primary">Uploaded</td>
        <td class="table-primary">Action</td>
        {% if user.is_authenticated and user.is_superuser%}
        <td class="table-primary"></td>
        {%endif%}

    </tr>

    {%for lesson in lessons%}
        <tr class="table-light">

            <td class="table-light">{{lesson.title}}</td>
            <td class="table-light">{{lesson.uploaded}}</td>
            <td class="table-light"><a href="/lectures{{lesson.upload.url}}" class='btn btn-primary btn-sm'>Open</a></td>
            {% if user.is_authenticated and user.is_superuser%}
                <td class="table-light"><a href="{% url 'lectures:delete_lesson' lesson.lectures lesson.title %}" class='btn btn-danger btn-sm'>Delete</a></td>
            {%endif%}
        </tr>

    {% endfor %}


</table>
{% endblock content %}
